body {
	margin: 0px;
	padding: 0px;
}

#header {
	background: #DDDDDD;
	width: 100%;
}

#toolBar {
	background: #DDDDDD;
	width: 100%;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	padding: 7px 12px;
}

#toolBar ul {
	margin: 0 40 0 0;
	padding: 0 0 0 0;
	float: left;
	list-style: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#toolBar ul li {
	float: left;
}

#toolBar ul li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#toolBar ul li a:hover {
	background-color: yellowgreen;
}

}
#leftBar {
	background: yellowgreen;
	width: 15%;
	height: 500px;
	float: left;
}

#content {
	background: #cdcde6;
	width: 85%;
	height: 500px;
	float: right;
}

.error {
	font-style: italic;
	background: #FFC;
	border-color: #F00;
	color: red;
}

.toolBarGroup {
	color: white;
}

xbody {
	background-color: #e6ffff;
	border-style: ridge;
	border-width: medium;
}

h1 {
	color: blue;
}

h2 {
	color: green;
	font-family: verdana;
}

hr {
	color: maroon;
}

.dataTableHeader {
	color: black;
	background-color: #aaaaaa;
	font-weight: bold;
}

.dataTable {
	border: thin solid black;
}

.dataTableOddRow {
	color: black;
	background-color: #eeeeee;
}

.dataTableEvenRow {
	color: black;
	background-color: lightyellow;
}