body {
	margin: 0px;
	padding: 0px;
}

#welcomebar {
	background: #DDDDDD;
	width: 100%;
}

#leftBar {
	background: yellowgreen;
	width: 15%;
	height: 500px;
	float: left;
}

#toolBar {
	background: #DDDDDD;
	width: 100%;
	border: 1px solid #ccc;
	border-style: solid;
	padding: 7px 12px;
}

#toolBar table {
	width: 100%;
}	

#toolBar ul {
	margin: 0 20 0 0;
	padding: 0 0 0 0;
	float: left;
	list-style: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

#toolBar ul li {
	float: left;
}

#toolBar ul li a {
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid black;	
}

#toolBar ul li a:hover {
	background-color: yellowgreen;
}

#content {
	background: #cdcde6;
	width: 85%;
	height: 500px;
	float: right;
}

#content table {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}
#content table tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
#content table td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
#content table tr.odd td {
	background-color:#F0F0F6;
}

.error {
	font-style: italic;
	background: #FFC;
	border-color: #F00;
	color: red;
}

.toolBarGroup {
	color: white;
}

xbody {
	background-color: #e6ffff;
	border-style: ridge;
	border-width: medium;
}

h1 {
	color: blue;
}

h2 {
	color: green;
	font-family: verdana;
}

hr {
	color: maroon;
}

.dataTableHeader {
	color: black;
	background-color: #aaaaaa;
	font-weight: bold;
}

.dataTable {
	border: thin solid black;
}

.dataTableOddRow {
	color: black;
	background-color: #eeeeee;
}

.dataTableEvenRow {
	color: black;
	background-color: lightyellow;
}