body {
  margin: 0px;
  padding: 0px;
}

#header {
  background: #DDDDDD;
  width: 100%;  
}

#toolBar {
  background: #DDDDDD;
  width: 100%;
    border: 1px solid #ccc;
  border-style: solid none solid none;

    padding: 7px 12px;
}

#leftBar {
  background: yellowgreen;
  width: 15%;
  height: 500px;
  float: left; 
}

#content {
  background: #cdcde6;
  width: 85%;
  height: 500px;
  float: right;
}

.error{
  font-style: italic;
  background: #FFC;
  border-color: #F00;
  color: red;
}

.toolBarGroup {
  color: white;
}

xbody {
	background-color: #e6ffff;
	border-style: ridge;
	border-width: medium;
}

h1 {
	color: blue;
}
	
h2 {
	color: green;
	font-family: verdana;
}

hr {
	color: maroon;
}

.dataTableHeader {
	color: black;
	background-color: #aaaaaa;
	font-weight: bold;
}
.dataTable {
	border: thin solid black;
}

.dataTableOddRow {
	color: black;
	background-color: #eeeeee;
}

.dataTableEvenRow{
	color: black;
	background-color: lightyellow;
}